.wrapper {
    display: flex;
    align-items: center;

    @media screen and (max-width: 849px) {
        display: none;
    }
}

.separate {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 3rem;
    margin: 0 7px;
}
