.wrapper {
    max-width: 1370px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    // align-items: center;
    flex-direction: column;
}

.empty {
    margin-top: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.back {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
    background-color: var(--primary) !important;
    padding: 7px 20px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
        cursor: pointer;
        filter: brightness(0.9);
    }
}

.container {
    max-width: 1400px;
    display: flex;
}

.list-products {
    padding: 0 30px 30px;
    max-width: 60%;
}

.edit {
    margin-bottom: 20px;
}

.table {
    width: 100%;
    margin-bottom: 16px;
    border-color: #ececec;
    border-spacing: 0;

    th {
        line-height: 1.05;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        border-width: 3px;
    }

    th,
    td {
        padding: 7px;
        text-align: left;
        border-bottom: 3px solid #ececec;
        line-height: 1.3;
        font-weight: 500;
        // font-size: 14px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.product-item {
    td {
        padding: 15px 8px;
    }
}

.product-remove {
    width: 20px;
    padding: 0;

    a {
        display: block;
        width: 24px;
        height: 24px;
        font-size: 15px !important;
        line-height: 19px !important;
        border-radius: 100%;
        color: #ccc;
        font-weight: bold;
        text-align: center;
        border: 2px solid currentColor !important;
    }
}

.product-thumbnail {
    min-width: 60px;
    max-width: 90px;
    width: 90px;

    img {
        max-width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: middle;
    }
}

.product-name {
    word-break: break-word;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.product-price {
    padding: 19px 8px 19px 8px;
}

.product-quantity {
    padding: 19px 8px 19px 8px;
    label {
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        margin: -1px;
        border: 0;
    }

    input[type='number'] {
        max-width: 36px;
        width: 36px;
        text-align: center;
        border-radius: 0 !important;
        border: 1px solid #ddd;
        min-height: 34px;
    }

    input[type='button'] {
        border: 1px solid #ddd !important;
        background-color: #f9f9f9;
        text-shadow: 1px 1px 1px #fff;
        padding: 0 7px;
        min-height: 34px;
    }

    span {
        max-width: 36px;
        width: 36px;
        text-align: center;
        border-radius: 0 !important;
        border: 1px solid #ddd;
        min-height: 34px;
    }
}

.product-subtotal {
    text-align: right;
    padding: 19px 8px 19px 8px;
}

.bill {
    flex: 1;
    border-left: 1px solid #ececec;
    padding: 0 30px 30px;
}

.bill-title {
    padding: 5px 0;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-spacing: 0;
    border-bottom: 1px solid #ececec;
    border-style: solid;
}

.bill-review {
    margin-bottom: 16px;
}

.bill-inner {
}

.bill-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ececec;

    label {
        line-height: 1.05;
        letter-spacing: 0.05em;
        padding: 7px 7px 7px 0;
        font-size: 14px;
        font-weight: 600;
        color: #777;
    }

    span {
        color: #111;
        font-weight: 600;
        font-size: 15px;

        strong {
            opacity: 0.8;
            font-size: 13px;
            font-weight: 400;
        }

        &:first-child {
            color: #777;
        }
    }

    .product-name {
        color: #666;
        font-size: 13px;
        padding: 15px 7px 15px 0;
        font-weight: 400;
        text-transform: none;
        line-height: 1.3;
    }

    .ship {
        padding: 15px 7px 15px 0;
    }

    .ship-price {
        font-size: 14px;
        opacity: 0.8;
    }

    &:first-child,
    &:last-child {
        border-bottom: 3px solid #ececec;
    }
}

.pay-btn {
    margin: 24px 0;
    padding: 10px 0px;
    font-size: 16px;
    width: 100%;
    background-color: #d94613 !important;
    color: #fff;
    font-weight: 700;
    justify-content: center;

    &:hover {
        cursor: pointer;
        filter: brightness(0.9);
    }
}

.coupons {
    input {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #ddd;
        padding: 0 0.75em;
        margin-bottom: 16px;
        height: 2.507em;
        font-size: 0.97em;
        border-radius: 0;
        max-width: 100%;
        width: 100%;
        vertical-align: middle;
        background-color: #fff;
        color: #333;
        -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
        -webkit-transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
        -o-transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
        transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
    }
}

.coupons-title {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #ececec;
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #555;
}

.coupons-icon {
    opacity: 0.35;
    margin-right: 4px;
}

.coupons-btn {
    font-size: 16px;
    background-color: #f9f9f9;
    text-shadow: 1px 1px 1px #fff;
    color: #666;
    border: 1px solid #ddd;
    text-transform: none;
    font-weight: normal;
    width: 100%;
    padding: 9px 0;
    justify-content: center;

    &:hover {
        cursor: pointer;
        outline: none;
        opacity: 1;
        -webkit-box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
        box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
    }
}
